/* CSS for ChiliPeppr Widget */

#com-ozgurgesli-widget-gg-button-panel {
   
}

#com-ozgurgesli-widget-gg-button-panel .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-ozgurgesli-widget-gg-button-panel .dbltall {
    height:68px;
}

#com-ozgurgesli-widget-gg-button-panel .row1 {
    border:none;
}
#com-ozgurgesli-widget-gg-button-panel .row2 {
    border:none;
}